<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--1*配置springMVC-->
    <!--!:开启springMVC注解模式-->
    <!--简化配置：
    (1)自动注册DefaultAnnotationHandlerMapping,AnnotationMethodHandlerAdapter
    (2)提供一系列：数据绑定，数字和日期format，@NumberFormat，@DataTimeFormat
    xml，json默认读写支持.
    -->
    <mvc:annotation-driven/>
    <!-- 2*servlet-mapping 映射“/” -->
    <!-- 静态默认servlet配置
     1.js，GIF，png处理
     3.允许使用/
     -->
    <mvc:default-servlet-handler/>
    <!--3*配置jsp显示viewResolver-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
    p:prefix="/WEB-INF/jsp/"
          p:suffix=".jsp"
    />
    <!--4*扫描web相关bean-->
    <context:component-scan base-package="cn.web"/>
    
    
</beans>