<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--1*配置springMVC-->
    <!--!:开启springMVC注解模式-->
    <!--简化配置：
    (1)自动注册DefaultAnnotationHandlerMapping,AnnotationMethodHandlerAdapter
    (2)提供一系列：数据绑定，数字和日期format，@NumberFormat，@DataTimeFormat
    xml，json默认读写支持.
    -->

    <!-- springmvc注解驱动-->
    <mvc:annotation-driven>
        <!-- 处理responseBody 里面日期类型 -->
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd" />
                            </bean>
                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!-- 2*servlet-mapping 映射“/” -->
    <!-- 静态默认servlet配置
     1.js，GIF，png处理
     3.允许使用/
     -->
    <mvc:default-servlet-handler/>
    <!--3*配置jsp显示viewResolver-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
    p:prefix="/WEB-INF/jsp/"
          p:suffix=".jsp"
    />
    <!--4*扫描web相关bean-->
    <context:component-scan base-package="cn.web"/>
    <!--5静态资源的获取-->
    <mvc:resources mapping="media" location="/media"/>
<!--6.捕获shiro认证失败页面异常，shiro过滤器没用的临时解决方案-->
    <bean
            class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="org.apache.shiro.authz.AuthorizationException">
                    permissionError
                </prop>
            </props>
        </property>
    </bean>

<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
      p:defaultEncoding="UTF-8"
      p:maxUploadSize="5242880"
      p:uploadTempDir="file:/c:userPhoto"/>
</beans>