<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dao.ClientMapper" >
  <resultMap id="BaseResultMap" type="cn.entity.Client" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="transaction" property="transaction" jdbcType="VARCHAR" />
    <result column="application" property="application" jdbcType="VARCHAR" />
    <result column="willing_address" property="willingAddress" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="attribute" property="attribute" jdbcType="VARCHAR" />
    <result column="purchasing_price" property="purchasingPrice" jdbcType="VARCHAR" />
    <result column="precatory_date" property="precatoryDate" jdbcType="DATE" />
    <result column="rent_price" property="rentPrice" jdbcType="VARCHAR" />
    <result column="precatory_method" property="precatoryMethod" jdbcType="VARCHAR" />
    <result column="rank" property="rank" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="deadline" property="deadline" jdbcType="VARCHAR" />
    <result column="intention" property="intention" jdbcType="VARCHAR" />
    <result column="maturity" property="maturity" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="housetype" property="housetype" jdbcType="VARCHAR" />
    <result column="decoration" property="decoration" jdbcType="VARCHAR" />
    <result column="gener" property="gener" jdbcType="VARCHAR" />
    <result column="development" property="development" jdbcType="VARCHAR" />
    <result column="orientation" property="orientation" jdbcType="VARCHAR" />
    <result column="floor" property="floor" jdbcType="INTEGER" />
    <result column="payment" property="payment" jdbcType="VARCHAR" />
    <result column="now_address" property="nowAddress" jdbcType="VARCHAR" />
    <result column="payment_commission" property="paymentCommission" jdbcType="VARCHAR" />
    <result column="client_age" property="clientAge" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, transaction, application, willing_address, status, area, attribute, purchasing_price, 
    precatory_date, rent_price, precatory_method, rank, source, type, deadline, intention, 
    maturity, remark, housetype, decoration, gener, development, orientation, floor, 
    payment, now_address, payment_commission, client_age, address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from client
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from client
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.entity.Client" >
    insert into client (id, transaction, application, 
      willing_address, status, area, 
      attribute, purchasing_price, precatory_date, 
      rent_price, precatory_method, rank, 
      source, type, deadline, 
      intention, maturity, remark, 
      housetype, decoration, gener, 
      development, orientation, floor, 
      payment, now_address, payment_commission, 
      client_age, address)
    values (#{id,jdbcType=INTEGER}, #{transaction,jdbcType=VARCHAR}, #{application,jdbcType=VARCHAR}, 
      #{willingAddress,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{attribute,jdbcType=VARCHAR}, #{purchasingPrice,jdbcType=VARCHAR}, #{precatoryDate,jdbcType=DATE}, 
      #{rentPrice,jdbcType=VARCHAR}, #{precatoryMethod,jdbcType=VARCHAR}, #{rank,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{deadline,jdbcType=VARCHAR}, 
      #{intention,jdbcType=VARCHAR}, #{maturity,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}, 
      #{housetype,jdbcType=VARCHAR}, #{decoration,jdbcType=VARCHAR}, #{gener,jdbcType=VARCHAR}, 
      #{development,jdbcType=VARCHAR}, #{orientation,jdbcType=VARCHAR}, #{floor,jdbcType=INTEGER}, 
      #{payment,jdbcType=VARCHAR}, #{nowAddress,jdbcType=VARCHAR}, #{paymentCommission,jdbcType=VARCHAR}, 
      #{clientAge,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.entity.Client" >
    insert into client
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="transaction != null" >
        transaction,
      </if>
      <if test="application != null" >
        application,
      </if>
      <if test="willingAddress != null" >
        willing_address,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="attribute != null" >
        attribute,
      </if>
      <if test="purchasingPrice != null" >
        purchasing_price,
      </if>
      <if test="precatoryDate != null" >
        precatory_date,
      </if>
      <if test="rentPrice != null" >
        rent_price,
      </if>
      <if test="precatoryMethod != null" >
        precatory_method,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
      <if test="intention != null" >
        intention,
      </if>
      <if test="maturity != null" >
        maturity,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="housetype != null" >
        housetype,
      </if>
      <if test="decoration != null" >
        decoration,
      </if>
      <if test="gener != null" >
        gener,
      </if>
      <if test="development != null" >
        development,
      </if>
      <if test="orientation != null" >
        orientation,
      </if>
      <if test="floor != null" >
        floor,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="nowAddress != null" >
        now_address,
      </if>
      <if test="paymentCommission != null" >
        payment_commission,
      </if>
      <if test="clientAge != null" >
        client_age,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="transaction != null" >
        #{transaction,jdbcType=VARCHAR},
      </if>
      <if test="application != null" >
        #{application,jdbcType=VARCHAR},
      </if>
      <if test="willingAddress != null" >
        #{willingAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null" >
        #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="purchasingPrice != null" >
        #{purchasingPrice,jdbcType=VARCHAR},
      </if>
      <if test="precatoryDate != null" >
        #{precatoryDate,jdbcType=DATE},
      </if>
      <if test="rentPrice != null" >
        #{rentPrice,jdbcType=VARCHAR},
      </if>
      <if test="precatoryMethod != null" >
        #{precatoryMethod,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=VARCHAR},
      </if>
      <if test="intention != null" >
        #{intention,jdbcType=VARCHAR},
      </if>
      <if test="maturity != null" >
        #{maturity,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="housetype != null" >
        #{housetype,jdbcType=VARCHAR},
      </if>
      <if test="decoration != null" >
        #{decoration,jdbcType=VARCHAR},
      </if>
      <if test="gener != null" >
        #{gener,jdbcType=VARCHAR},
      </if>
      <if test="development != null" >
        #{development,jdbcType=VARCHAR},
      </if>
      <if test="orientation != null" >
        #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        #{floor,jdbcType=INTEGER},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="nowAddress != null" >
        #{nowAddress,jdbcType=VARCHAR},
      </if>
      <if test="paymentCommission != null" >
        #{paymentCommission,jdbcType=VARCHAR},
      </if>
      <if test="clientAge != null" >
        #{clientAge,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.entity.Client" >
    update client
    <set >
      <if test="transaction != null" >
        transaction = #{transaction,jdbcType=VARCHAR},
      </if>
      <if test="application != null" >
        application = #{application,jdbcType=VARCHAR},
      </if>
      <if test="willingAddress != null" >
        willing_address = #{willingAddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null" >
        attribute = #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="purchasingPrice != null" >
        purchasing_price = #{purchasingPrice,jdbcType=VARCHAR},
      </if>
      <if test="precatoryDate != null" >
        precatory_date = #{precatoryDate,jdbcType=DATE},
      </if>
      <if test="rentPrice != null" >
        rent_price = #{rentPrice,jdbcType=VARCHAR},
      </if>
      <if test="precatoryMethod != null" >
        precatory_method = #{precatoryMethod,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=VARCHAR},
      </if>
      <if test="intention != null" >
        intention = #{intention,jdbcType=VARCHAR},
      </if>
      <if test="maturity != null" >
        maturity = #{maturity,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="housetype != null" >
        housetype = #{housetype,jdbcType=VARCHAR},
      </if>
      <if test="decoration != null" >
        decoration = #{decoration,jdbcType=VARCHAR},
      </if>
      <if test="gener != null" >
        gener = #{gener,jdbcType=VARCHAR},
      </if>
      <if test="development != null" >
        development = #{development,jdbcType=VARCHAR},
      </if>
      <if test="orientation != null" >
        orientation = #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="floor != null" >
        floor = #{floor,jdbcType=INTEGER},
      </if>
      <if test="payment != null" >
        payment = #{payment,jdbcType=VARCHAR},
      </if>
      <if test="nowAddress != null" >
        now_address = #{nowAddress,jdbcType=VARCHAR},
      </if>
      <if test="paymentCommission != null" >
        payment_commission = #{paymentCommission,jdbcType=VARCHAR},
      </if>
      <if test="clientAge != null" >
        client_age = #{clientAge,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.entity.Client" >
    update client
    set transaction = #{transaction,jdbcType=VARCHAR},
      application = #{application,jdbcType=VARCHAR},
      willing_address = #{willingAddress,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      attribute = #{attribute,jdbcType=VARCHAR},
      purchasing_price = #{purchasingPrice,jdbcType=VARCHAR},
      precatory_date = #{precatoryDate,jdbcType=DATE},
      rent_price = #{rentPrice,jdbcType=VARCHAR},
      precatory_method = #{precatoryMethod,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      deadline = #{deadline,jdbcType=VARCHAR},
      intention = #{intention,jdbcType=VARCHAR},
      maturity = #{maturity,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      housetype = #{housetype,jdbcType=VARCHAR},
      decoration = #{decoration,jdbcType=VARCHAR},
      gener = #{gener,jdbcType=VARCHAR},
      development = #{development,jdbcType=VARCHAR},
      orientation = #{orientation,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=INTEGER},
      payment = #{payment,jdbcType=VARCHAR},
      now_address = #{nowAddress,jdbcType=VARCHAR},
      payment_commission = #{paymentCommission,jdbcType=VARCHAR},
      client_age = #{clientAge,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>