<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dao.FollowupHouseMapper" >
  <resultMap id="BaseResultMap" type="cn.entity.FollowupHouse" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="houseid" property="houseid" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="trail" property="trail" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, content, userid, houseid, time, method, status, trail
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from followup_house
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from followup_house
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.entity.FollowupHouse" >
    insert into followup_house (id, content, userid, 
      houseid, time, method, 
      status, trail)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{userid,jdbcType=BIGINT}, 
      #{houseid,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{method,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{trail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.entity.FollowupHouse" >
    insert into followup_house
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="houseid != null" >
        houseid,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="trail != null" >
        trail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="houseid != null" >
        #{houseid,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="trail != null" >
        #{trail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.entity.FollowupHouse" >
    update followup_house
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="houseid != null" >
        houseid = #{houseid,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="trail != null" >
        trail = #{trail,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.entity.FollowupHouse" >
    update followup_house
    set content = #{content,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=BIGINT},
      houseid = #{houseid,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      method = #{method,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      trail = #{trail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>