<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dao.HouseMsgMapper" >
  <resultMap id="BaseResultMap" type="cn.entity.HouseMsg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="application" property="application" jdbcType="VARCHAR" />
    <result column="transaction" property="transaction" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="house_type" property="houseType" jdbcType="VARCHAR" />
    <result column="decoration" property="decoration" jdbcType="VARCHAR" />
    <result column="orientation" property="orientation" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="sell_price" property="sellPrice" jdbcType="VARCHAR" />
    <result column="attribute" property="attribute" jdbcType="VARCHAR" />
    <result column="sell_lowPrice" property="sellLowprice" jdbcType="INTEGER" />
    <result column="purchasing_date" property="purchasingDate" jdbcType="DATE" />
    <result column="rent_price" property="rentPrice" jdbcType="VARCHAR" />
    <result column="uniqueHouse" property="uniquehouse" jdbcType="BIT" />
    <result column="rent_lowPrice" property="rentLowprice" jdbcType="INTEGER" />
    <result column="precatory_date" property="precatoryDate" jdbcType="DATE" />
    <result column="loan" property="loan" jdbcType="VARCHAR" />
    <result column="precatory_method" property="precatoryMethod" jdbcType="VARCHAR" />
    <result column="resource" property="resource" jdbcType="VARCHAR" />
    <result column="precatory_number" property="precatoryNumber" jdbcType="INTEGER" />
    <result column="lunch_time" property="lunchTime" jdbcType="DATE" />
    <result column="record_number" property="recordNumber" jdbcType="INTEGER" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="build_year" property="buildYear" jdbcType="DATE" />
    <result column="status_quo" property="statusQuo" jdbcType="VARCHAR" />
    <result column="propertyRight" property="propertyright" jdbcType="VARCHAR" />
    <result column="development" property="development" jdbcType="VARCHAR" />
    <result column="including" property="including" jdbcType="VARCHAR" />
    <result column="furniture" property="furniture" jdbcType="VARCHAR" />
    <result column="originaly_purchasing_price" property="originalyPurchasingPrice" jdbcType="INTEGER" />
    <result column="management_cost" property="managementCost" jdbcType="INTEGER" />
    <result column="household_applicances" property="householdApplicances" jdbcType="VARCHAR" />
    <result column="payment_has" property="paymentHas" jdbcType="VARCHAR" />
    <result column="parking_plot" property="parkingPlot" jdbcType="VARCHAR" />
    <result column="payment_method" property="paymentMethod" jdbcType="VARCHAR" />
    <result column="see_the_house" property="seeTheHouse" jdbcType="VARCHAR" />
    <result column="production_license_number" property="productionLicenseNumber" jdbcType="INTEGER" />
    <result column="year_of_property_right" property="yearOfPropertyRight" jdbcType="DATE" />
    <result column="certificate_of_house_property" property="certificateOfHouseProperty" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="precatory_book" property="precatoryBook" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, application, transaction, address, area, type, house_type, decoration, orientation, 
    status, sell_price, attribute, sell_lowPrice, purchasing_date, rent_price, uniqueHouse, 
    rent_lowPrice, precatory_date, loan, precatory_method, resource, precatory_number, 
    lunch_time, record_number, tag, remark, build_year, status_quo, propertyRight, development, 
    including, furniture, originaly_purchasing_price, management_cost, household_applicances, 
    payment_has, parking_plot, payment_method, see_the_house, production_license_number, 
    year_of_property_right, certificate_of_house_property, id_card, precatory_book
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from housemsg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from housemsg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.entity.HouseMsg" >
    insert into housemsg (id, application, transaction, 
      address, area, type, 
      house_type, decoration, orientation, 
      status, sell_price, attribute, 
      sell_lowPrice, purchasing_date, rent_price, 
      uniqueHouse, rent_lowPrice, precatory_date, 
      loan, precatory_method, resource, 
      precatory_number, lunch_time, record_number, 
      tag, remark, build_year, 
      status_quo, propertyRight, development, 
      including, furniture, originaly_purchasing_price, 
      management_cost, household_applicances, payment_has, 
      parking_plot, payment_method, see_the_house, 
      production_license_number, year_of_property_right, 
      certificate_of_house_property, id_card, precatory_book
      )
    values (#{id,jdbcType=INTEGER}, #{application,jdbcType=VARCHAR}, #{transaction,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{houseType,jdbcType=VARCHAR}, #{decoration,jdbcType=VARCHAR}, #{orientation,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{sellPrice,jdbcType=VARCHAR}, #{attribute,jdbcType=VARCHAR}, 
      #{sellLowprice,jdbcType=INTEGER}, #{purchasingDate,jdbcType=DATE}, #{rentPrice,jdbcType=VARCHAR}, 
      #{uniquehouse,jdbcType=BIT}, #{rentLowprice,jdbcType=INTEGER}, #{precatoryDate,jdbcType=DATE}, 
      #{loan,jdbcType=VARCHAR}, #{precatoryMethod,jdbcType=VARCHAR}, #{resource,jdbcType=VARCHAR}, 
      #{precatoryNumber,jdbcType=INTEGER}, #{lunchTime,jdbcType=DATE}, #{recordNumber,jdbcType=INTEGER}, 
      #{tag,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{buildYear,jdbcType=DATE}, 
      #{statusQuo,jdbcType=VARCHAR}, #{propertyright,jdbcType=VARCHAR}, #{development,jdbcType=VARCHAR}, 
      #{including,jdbcType=VARCHAR}, #{furniture,jdbcType=VARCHAR}, #{originalyPurchasingPrice,jdbcType=INTEGER}, 
      #{managementCost,jdbcType=INTEGER}, #{householdApplicances,jdbcType=VARCHAR}, #{paymentHas,jdbcType=VARCHAR}, 
      #{parkingPlot,jdbcType=VARCHAR}, #{paymentMethod,jdbcType=VARCHAR}, #{seeTheHouse,jdbcType=VARCHAR}, 
      #{productionLicenseNumber,jdbcType=INTEGER}, #{yearOfPropertyRight,jdbcType=DATE}, 
      #{certificateOfHouseProperty,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{precatoryBook,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.entity.HouseMsg" >
    insert into housemsg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="application != null" >
        application,
      </if>
      <if test="transaction != null" >
        transaction,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="houseType != null" >
        house_type,
      </if>
      <if test="decoration != null" >
        decoration,
      </if>
      <if test="orientation != null" >
        orientation,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sellPrice != null" >
        sell_price,
      </if>
      <if test="attribute != null" >
        attribute,
      </if>
      <if test="sellLowprice != null" >
        sell_lowPrice,
      </if>
      <if test="purchasingDate != null" >
        purchasing_date,
      </if>
      <if test="rentPrice != null" >
        rent_price,
      </if>
      <if test="uniquehouse != null" >
        uniqueHouse,
      </if>
      <if test="rentLowprice != null" >
        rent_lowPrice,
      </if>
      <if test="precatoryDate != null" >
        precatory_date,
      </if>
      <if test="loan != null" >
        loan,
      </if>
      <if test="precatoryMethod != null" >
        precatory_method,
      </if>
      <if test="resource != null" >
        resource,
      </if>
      <if test="precatoryNumber != null" >
        precatory_number,
      </if>
      <if test="lunchTime != null" >
        lunch_time,
      </if>
      <if test="recordNumber != null" >
        record_number,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="buildYear != null" >
        build_year,
      </if>
      <if test="statusQuo != null" >
        status_quo,
      </if>
      <if test="propertyright != null" >
        propertyRight,
      </if>
      <if test="development != null" >
        development,
      </if>
      <if test="including != null" >
        including,
      </if>
      <if test="furniture != null" >
        furniture,
      </if>
      <if test="originalyPurchasingPrice != null" >
        originaly_purchasing_price,
      </if>
      <if test="managementCost != null" >
        management_cost,
      </if>
      <if test="householdApplicances != null" >
        household_applicances,
      </if>
      <if test="paymentHas != null" >
        payment_has,
      </if>
      <if test="parkingPlot != null" >
        parking_plot,
      </if>
      <if test="paymentMethod != null" >
        payment_method,
      </if>
      <if test="seeTheHouse != null" >
        see_the_house,
      </if>
      <if test="productionLicenseNumber != null" >
        production_license_number,
      </if>
      <if test="yearOfPropertyRight != null" >
        year_of_property_right,
      </if>
      <if test="certificateOfHouseProperty != null" >
        certificate_of_house_property,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="precatoryBook != null" >
        precatory_book,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="application != null" >
        #{application,jdbcType=VARCHAR},
      </if>
      <if test="transaction != null" >
        #{transaction,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null" >
        #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="decoration != null" >
        #{decoration,jdbcType=VARCHAR},
      </if>
      <if test="orientation != null" >
        #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="sellPrice != null" >
        #{sellPrice,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null" >
        #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="sellLowprice != null" >
        #{sellLowprice,jdbcType=INTEGER},
      </if>
      <if test="purchasingDate != null" >
        #{purchasingDate,jdbcType=DATE},
      </if>
      <if test="rentPrice != null" >
        #{rentPrice,jdbcType=VARCHAR},
      </if>
      <if test="uniquehouse != null" >
        #{uniquehouse,jdbcType=BIT},
      </if>
      <if test="rentLowprice != null" >
        #{rentLowprice,jdbcType=INTEGER},
      </if>
      <if test="precatoryDate != null" >
        #{precatoryDate,jdbcType=DATE},
      </if>
      <if test="loan != null" >
        #{loan,jdbcType=VARCHAR},
      </if>
      <if test="precatoryMethod != null" >
        #{precatoryMethod,jdbcType=VARCHAR},
      </if>
      <if test="resource != null" >
        #{resource,jdbcType=VARCHAR},
      </if>
      <if test="precatoryNumber != null" >
        #{precatoryNumber,jdbcType=INTEGER},
      </if>
      <if test="lunchTime != null" >
        #{lunchTime,jdbcType=DATE},
      </if>
      <if test="recordNumber != null" >
        #{recordNumber,jdbcType=INTEGER},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="buildYear != null" >
        #{buildYear,jdbcType=DATE},
      </if>
      <if test="statusQuo != null" >
        #{statusQuo,jdbcType=VARCHAR},
      </if>
      <if test="propertyright != null" >
        #{propertyright,jdbcType=VARCHAR},
      </if>
      <if test="development != null" >
        #{development,jdbcType=VARCHAR},
      </if>
      <if test="including != null" >
        #{including,jdbcType=VARCHAR},
      </if>
      <if test="furniture != null" >
        #{furniture,jdbcType=VARCHAR},
      </if>
      <if test="originalyPurchasingPrice != null" >
        #{originalyPurchasingPrice,jdbcType=INTEGER},
      </if>
      <if test="managementCost != null" >
        #{managementCost,jdbcType=INTEGER},
      </if>
      <if test="householdApplicances != null" >
        #{householdApplicances,jdbcType=VARCHAR},
      </if>
      <if test="paymentHas != null" >
        #{paymentHas,jdbcType=VARCHAR},
      </if>
      <if test="parkingPlot != null" >
        #{parkingPlot,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethod != null" >
        #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="seeTheHouse != null" >
        #{seeTheHouse,jdbcType=VARCHAR},
      </if>
      <if test="productionLicenseNumber != null" >
        #{productionLicenseNumber,jdbcType=INTEGER},
      </if>
      <if test="yearOfPropertyRight != null" >
        #{yearOfPropertyRight,jdbcType=DATE},
      </if>
      <if test="certificateOfHouseProperty != null" >
        #{certificateOfHouseProperty,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="precatoryBook != null" >
        #{precatoryBook,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.entity.HouseMsg" >
    update housemsg
    <set >
      <if test="application != null" >
        application = #{application,jdbcType=VARCHAR},
      </if>
      <if test="transaction != null" >
        transaction = #{transaction,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="houseType != null" >
        house_type = #{houseType,jdbcType=VARCHAR},
      </if>
      <if test="decoration != null" >
        decoration = #{decoration,jdbcType=VARCHAR},
      </if>
      <if test="orientation != null" >
        orientation = #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="sellPrice != null" >
        sell_price = #{sellPrice,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null" >
        attribute = #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="sellLowprice != null" >
        sell_lowPrice = #{sellLowprice,jdbcType=INTEGER},
      </if>
      <if test="purchasingDate != null" >
        purchasing_date = #{purchasingDate,jdbcType=DATE},
      </if>
      <if test="rentPrice != null" >
        rent_price = #{rentPrice,jdbcType=VARCHAR},
      </if>
      <if test="uniquehouse != null" >
        uniqueHouse = #{uniquehouse,jdbcType=BIT},
      </if>
      <if test="rentLowprice != null" >
        rent_lowPrice = #{rentLowprice,jdbcType=INTEGER},
      </if>
      <if test="precatoryDate != null" >
        precatory_date = #{precatoryDate,jdbcType=DATE},
      </if>
      <if test="loan != null" >
        loan = #{loan,jdbcType=VARCHAR},
      </if>
      <if test="precatoryMethod != null" >
        precatory_method = #{precatoryMethod,jdbcType=VARCHAR},
      </if>
      <if test="resource != null" >
        resource = #{resource,jdbcType=VARCHAR},
      </if>
      <if test="precatoryNumber != null" >
        precatory_number = #{precatoryNumber,jdbcType=INTEGER},
      </if>
      <if test="lunchTime != null" >
        lunch_time = #{lunchTime,jdbcType=DATE},
      </if>
      <if test="recordNumber != null" >
        record_number = #{recordNumber,jdbcType=INTEGER},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="buildYear != null" >
        build_year = #{buildYear,jdbcType=DATE},
      </if>
      <if test="statusQuo != null" >
        status_quo = #{statusQuo,jdbcType=VARCHAR},
      </if>
      <if test="propertyright != null" >
        propertyRight = #{propertyright,jdbcType=VARCHAR},
      </if>
      <if test="development != null" >
        development = #{development,jdbcType=VARCHAR},
      </if>
      <if test="including != null" >
        including = #{including,jdbcType=VARCHAR},
      </if>
      <if test="furniture != null" >
        furniture = #{furniture,jdbcType=VARCHAR},
      </if>
      <if test="originalyPurchasingPrice != null" >
        originaly_purchasing_price = #{originalyPurchasingPrice,jdbcType=INTEGER},
      </if>
      <if test="managementCost != null" >
        management_cost = #{managementCost,jdbcType=INTEGER},
      </if>
      <if test="householdApplicances != null" >
        household_applicances = #{householdApplicances,jdbcType=VARCHAR},
      </if>
      <if test="paymentHas != null" >
        payment_has = #{paymentHas,jdbcType=VARCHAR},
      </if>
      <if test="parkingPlot != null" >
        parking_plot = #{parkingPlot,jdbcType=VARCHAR},
      </if>
      <if test="paymentMethod != null" >
        payment_method = #{paymentMethod,jdbcType=VARCHAR},
      </if>
      <if test="seeTheHouse != null" >
        see_the_house = #{seeTheHouse,jdbcType=VARCHAR},
      </if>
      <if test="productionLicenseNumber != null" >
        production_license_number = #{productionLicenseNumber,jdbcType=INTEGER},
      </if>
      <if test="yearOfPropertyRight != null" >
        year_of_property_right = #{yearOfPropertyRight,jdbcType=DATE},
      </if>
      <if test="certificateOfHouseProperty != null" >
        certificate_of_house_property = #{certificateOfHouseProperty,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="precatoryBook != null" >
        precatory_book = #{precatoryBook,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.entity.HouseMsg" >
    update housemsg
    set application = #{application,jdbcType=VARCHAR},
      transaction = #{transaction,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      house_type = #{houseType,jdbcType=VARCHAR},
      decoration = #{decoration,jdbcType=VARCHAR},
      orientation = #{orientation,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      sell_price = #{sellPrice,jdbcType=VARCHAR},
      attribute = #{attribute,jdbcType=VARCHAR},
      sell_lowPrice = #{sellLowprice,jdbcType=INTEGER},
      purchasing_date = #{purchasingDate,jdbcType=DATE},
      rent_price = #{rentPrice,jdbcType=VARCHAR},
      uniqueHouse = #{uniquehouse,jdbcType=BIT},
      rent_lowPrice = #{rentLowprice,jdbcType=INTEGER},
      precatory_date = #{precatoryDate,jdbcType=DATE},
      loan = #{loan,jdbcType=VARCHAR},
      precatory_method = #{precatoryMethod,jdbcType=VARCHAR},
      resource = #{resource,jdbcType=VARCHAR},
      precatory_number = #{precatoryNumber,jdbcType=INTEGER},
      lunch_time = #{lunchTime,jdbcType=DATE},
      record_number = #{recordNumber,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      build_year = #{buildYear,jdbcType=DATE},
      status_quo = #{statusQuo,jdbcType=VARCHAR},
      propertyRight = #{propertyright,jdbcType=VARCHAR},
      development = #{development,jdbcType=VARCHAR},
      including = #{including,jdbcType=VARCHAR},
      furniture = #{furniture,jdbcType=VARCHAR},
      originaly_purchasing_price = #{originalyPurchasingPrice,jdbcType=INTEGER},
      management_cost = #{managementCost,jdbcType=INTEGER},
      household_applicances = #{householdApplicances,jdbcType=VARCHAR},
      payment_has = #{paymentHas,jdbcType=VARCHAR},
      parking_plot = #{parkingPlot,jdbcType=VARCHAR},
      payment_method = #{paymentMethod,jdbcType=VARCHAR},
      see_the_house = #{seeTheHouse,jdbcType=VARCHAR},
      production_license_number = #{productionLicenseNumber,jdbcType=INTEGER},
      year_of_property_right = #{yearOfPropertyRight,jdbcType=DATE},
      certificate_of_house_property = #{certificateOfHouseProperty,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      precatory_book = #{precatoryBook,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>