<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dao.HousePowerThirdMapper" >
  <resultMap id="BaseResultMap" type="cn.entity.HousePowerThird" >
    <id column="house_power_third_id" property="housePowerThirdId" jdbcType="BIGINT" />
    <result column="house_part_modify_detail" property="housePartModifyDetail" jdbcType="VARCHAR" />
    <result column="host_add" property="hostAdd" jdbcType="VARCHAR" />
    <result column="transaction_visible" property="transactionVisible" jdbcType="VARCHAR" />
    <result column="entrust_save" property="entrustSave" jdbcType="VARCHAR" />
    <result column="house_picture" property="housePicture" jdbcType="VARCHAR" />
    <result column="protocol_or_attachment" property="protocolOrAttachment" jdbcType="VARCHAR" />
    <result column="house_describe" property="houseDescribe" jdbcType="VARCHAR" />
    <result column="house_all_modify" property="houseAllModify" jdbcType="VARCHAR" />
    <result column="house_part_modify" property="housePartModify" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    house_power_third_id, house_part_modify_detail, host_add, transaction_visible, entrust_save, 
    house_picture, protocol_or_attachment, house_describe, house_all_modify, house_part_modify
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from house_power_third
    where house_power_third_id = #{housePowerThirdId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from house_power_third
    where house_power_third_id = #{housePowerThirdId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.entity.HousePowerThird" >
    insert into house_power_third (house_power_third_id, house_part_modify_detail, 
      host_add, transaction_visible, entrust_save, 
      house_picture, protocol_or_attachment, house_describe, 
      house_all_modify, house_part_modify)
    values (#{housePowerThirdId,jdbcType=BIGINT}, #{housePartModifyDetail,jdbcType=VARCHAR}, 
      #{hostAdd,jdbcType=VARCHAR}, #{transactionVisible,jdbcType=VARCHAR}, #{entrustSave,jdbcType=VARCHAR}, 
      #{housePicture,jdbcType=VARCHAR}, #{protocolOrAttachment,jdbcType=VARCHAR}, #{houseDescribe,jdbcType=VARCHAR}, 
      #{houseAllModify,jdbcType=VARCHAR}, #{housePartModify,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.entity.HousePowerThird" >
    insert into house_power_third
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="housePowerThirdId != null" >
        house_power_third_id,
      </if>
      <if test="housePartModifyDetail != null" >
        house_part_modify_detail,
      </if>
      <if test="hostAdd != null" >
        host_add,
      </if>
      <if test="transactionVisible != null" >
        transaction_visible,
      </if>
      <if test="entrustSave != null" >
        entrust_save,
      </if>
      <if test="housePicture != null" >
        house_picture,
      </if>
      <if test="protocolOrAttachment != null" >
        protocol_or_attachment,
      </if>
      <if test="houseDescribe != null" >
        house_describe,
      </if>
      <if test="houseAllModify != null" >
        house_all_modify,
      </if>
      <if test="housePartModify != null" >
        house_part_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="housePowerThirdId != null" >
        #{housePowerThirdId,jdbcType=BIGINT},
      </if>
      <if test="housePartModifyDetail != null" >
        #{housePartModifyDetail,jdbcType=VARCHAR},
      </if>
      <if test="hostAdd != null" >
        #{hostAdd,jdbcType=VARCHAR},
      </if>
      <if test="transactionVisible != null" >
        #{transactionVisible,jdbcType=VARCHAR},
      </if>
      <if test="entrustSave != null" >
        #{entrustSave,jdbcType=VARCHAR},
      </if>
      <if test="housePicture != null" >
        #{housePicture,jdbcType=VARCHAR},
      </if>
      <if test="protocolOrAttachment != null" >
        #{protocolOrAttachment,jdbcType=VARCHAR},
      </if>
      <if test="houseDescribe != null" >
        #{houseDescribe,jdbcType=VARCHAR},
      </if>
      <if test="houseAllModify != null" >
        #{houseAllModify,jdbcType=VARCHAR},
      </if>
      <if test="housePartModify != null" >
        #{housePartModify,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.entity.HousePowerThird" >
    update house_power_third
    <set >
      <if test="housePartModifyDetail != null" >
        house_part_modify_detail = #{housePartModifyDetail,jdbcType=VARCHAR},
      </if>
      <if test="hostAdd != null" >
        host_add = #{hostAdd,jdbcType=VARCHAR},
      </if>
      <if test="transactionVisible != null" >
        transaction_visible = #{transactionVisible,jdbcType=VARCHAR},
      </if>
      <if test="entrustSave != null" >
        entrust_save = #{entrustSave,jdbcType=VARCHAR},
      </if>
      <if test="housePicture != null" >
        house_picture = #{housePicture,jdbcType=VARCHAR},
      </if>
      <if test="protocolOrAttachment != null" >
        protocol_or_attachment = #{protocolOrAttachment,jdbcType=VARCHAR},
      </if>
      <if test="houseDescribe != null" >
        house_describe = #{houseDescribe,jdbcType=VARCHAR},
      </if>
      <if test="houseAllModify != null" >
        house_all_modify = #{houseAllModify,jdbcType=VARCHAR},
      </if>
      <if test="housePartModify != null" >
        house_part_modify = #{housePartModify,jdbcType=VARCHAR},
      </if>
    </set>
    where house_power_third_id = #{housePowerThirdId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.entity.HousePowerThird" >
    update house_power_third
    set house_part_modify_detail = #{housePartModifyDetail,jdbcType=VARCHAR},
      host_add = #{hostAdd,jdbcType=VARCHAR},
      transaction_visible = #{transactionVisible,jdbcType=VARCHAR},
      entrust_save = #{entrustSave,jdbcType=VARCHAR},
      house_picture = #{housePicture,jdbcType=VARCHAR},
      protocol_or_attachment = #{protocolOrAttachment,jdbcType=VARCHAR},
      house_describe = #{houseDescribe,jdbcType=VARCHAR},
      house_all_modify = #{houseAllModify,jdbcType=VARCHAR},
      house_part_modify = #{housePartModify,jdbcType=VARCHAR}
    where house_power_third_id = #{housePowerThirdId,jdbcType=BIGINT}
  </update>
</mapper>