<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dao.HouseOwnerMapper" >
  <resultMap id="BaseResultMap" type="cn.entity.HouseOwner" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="first_phone" property="firstPhone" jdbcType="BIGINT" />
    <result column="second_phone" property="secondPhone" jdbcType="BIGINT" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, first_phone, second_phone, id_card, comment
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from house_owner
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from house_owner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.entity.HouseOwner" >
    insert into house_owner (id, name, first_phone, 
      second_phone, id_card, comment
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{firstPhone,jdbcType=BIGINT}, 
      #{secondPhone,jdbcType=BIGINT}, #{idCard,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.entity.HouseOwner" >
    insert into house_owner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="firstPhone != null" >
        first_phone,
      </if>
      <if test="secondPhone != null" >
        second_phone,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="comment != null" >
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstPhone != null" >
        #{firstPhone,jdbcType=BIGINT},
      </if>
      <if test="secondPhone != null" >
        #{secondPhone,jdbcType=BIGINT},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.entity.HouseOwner" >
    update house_owner
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstPhone != null" >
        first_phone = #{firstPhone,jdbcType=BIGINT},
      </if>
      <if test="secondPhone != null" >
        second_phone = #{secondPhone,jdbcType=BIGINT},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.entity.HouseOwner" >
    update house_owner
    set name = #{name,jdbcType=VARCHAR},
      first_phone = #{firstPhone,jdbcType=BIGINT},
      second_phone = #{secondPhone,jdbcType=BIGINT},
      id_card = #{idCard,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>