<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dao.OrganizationExecutivePowerMapper" >
  <resultMap id="BaseResultMap" type="cn.entity.OrganizationExecutivePower" >
    <id column="organization_executive_power_id" property="organizationExecutivePowerId" jdbcType="VARCHAR" />
    <id column="organization_id" property="organizationId" jdbcType="VARCHAR" />
    <result column="house_visiable" property="houseVisiable" jdbcType="BIT" />
    <result column="custom_visiable" property="customVisiable" jdbcType="BIT" />
    <result column="public_disk_host_visiable" property="publicDiskHostVisiable" jdbcType="BIT" />
    <result column="private_disk_host_visiable" property="privateDiskHostVisiable" jdbcType="BIT" />
    <result column="house_followup_visibale" property="houseFollowupVisibale" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    organization_executive_power_id, organization_id, house_visiable, custom_visiable, 
    public_disk_host_visiable, private_disk_host_visiable, house_followup_visibale
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.entity.OrganizationExecutivePowerKey" >
    select 
    <include refid="Base_Column_List" />
    from organization_executive_power
    where organization_executive_power_id = #{organizationExecutivePowerId,jdbcType=VARCHAR}
      and organization_id = #{organizationId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.entity.OrganizationExecutivePowerKey" >
    delete from organization_executive_power
    where organization_executive_power_id = #{organizationExecutivePowerId,jdbcType=VARCHAR}
      and organization_id = #{organizationId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.entity.OrganizationExecutivePower" >
    insert into organization_executive_power (organization_executive_power_id, organization_id, 
      house_visiable, custom_visiable, public_disk_host_visiable, 
      private_disk_host_visiable, house_followup_visibale)
    values (#{organizationExecutivePowerId,jdbcType=VARCHAR}, #{organizationId,jdbcType=VARCHAR}, 
      #{houseVisiable,jdbcType=BIT}, #{customVisiable,jdbcType=BIT}, #{publicDiskHostVisiable,jdbcType=BIT}, 
      #{privateDiskHostVisiable,jdbcType=BIT}, #{houseFollowupVisibale,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="cn.entity.OrganizationExecutivePower" >
    insert into organization_executive_power
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="organizationExecutivePowerId != null" >
        organization_executive_power_id,
      </if>
      <if test="organizationId != null" >
        organization_id,
      </if>
      <if test="houseVisiable != null" >
        house_visiable,
      </if>
      <if test="customVisiable != null" >
        custom_visiable,
      </if>
      <if test="publicDiskHostVisiable != null" >
        public_disk_host_visiable,
      </if>
      <if test="privateDiskHostVisiable != null" >
        private_disk_host_visiable,
      </if>
      <if test="houseFollowupVisibale != null" >
        house_followup_visibale,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="organizationExecutivePowerId != null" >
        #{organizationExecutivePowerId,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="houseVisiable != null" >
        #{houseVisiable,jdbcType=BIT},
      </if>
      <if test="customVisiable != null" >
        #{customVisiable,jdbcType=BIT},
      </if>
      <if test="publicDiskHostVisiable != null" >
        #{publicDiskHostVisiable,jdbcType=BIT},
      </if>
      <if test="privateDiskHostVisiable != null" >
        #{privateDiskHostVisiable,jdbcType=BIT},
      </if>
      <if test="houseFollowupVisibale != null" >
        #{houseFollowupVisibale,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.entity.OrganizationExecutivePower" >
    update organization_executive_power
    <set >
      <if test="houseVisiable != null" >
        house_visiable = #{houseVisiable,jdbcType=BIT},
      </if>
      <if test="customVisiable != null" >
        custom_visiable = #{customVisiable,jdbcType=BIT},
      </if>
      <if test="publicDiskHostVisiable != null" >
        public_disk_host_visiable = #{publicDiskHostVisiable,jdbcType=BIT},
      </if>
      <if test="privateDiskHostVisiable != null" >
        private_disk_host_visiable = #{privateDiskHostVisiable,jdbcType=BIT},
      </if>
      <if test="houseFollowupVisibale != null" >
        house_followup_visibale = #{houseFollowupVisibale,jdbcType=BIT},
      </if>
    </set>
    where organization_executive_power_id = #{organizationExecutivePowerId,jdbcType=VARCHAR}
      and organization_id = #{organizationId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.entity.OrganizationExecutivePower" >
    update organization_executive_power
    set house_visiable = #{houseVisiable,jdbcType=BIT},
      custom_visiable = #{customVisiable,jdbcType=BIT},
      public_disk_host_visiable = #{publicDiskHostVisiable,jdbcType=BIT},
      private_disk_host_visiable = #{privateDiskHostVisiable,jdbcType=BIT},
      house_followup_visibale = #{houseFollowupVisibale,jdbcType=BIT}
    where organization_executive_power_id = #{organizationExecutivePowerId,jdbcType=VARCHAR}
      and organization_id = #{organizationId,jdbcType=VARCHAR}
  </update>
</mapper>