<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dao.PersonPowerMapper" >
  <resultMap id="BaseResultMap" type="cn.entity.PersonPower" >
    <id column="power_user_id" property="powerUserId" jdbcType="BIGINT" />
    <result column="organization_id" property="organizationId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    power_user_id, organization_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from persion_power
    where power_user_id = #{powerUserId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from persion_power
    where power_user_id = #{powerUserId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.entity.PersonPower" >
    insert into persion_power (power_user_id, organization_id)
    values (#{powerUserId,jdbcType=BIGINT}, #{organizationId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.entity.PersonPower" >
    insert into persion_power
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="powerUserId != null" >
        power_user_id,
      </if>
      <if test="organizationId != null" >
        organization_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="powerUserId != null" >
        #{powerUserId,jdbcType=BIGINT},
      </if>
      <if test="organizationId != null" >
        #{organizationId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.entity.PersonPower" >
    update persion_power
    <set >
      <if test="organizationId != null" >
        organization_id = #{organizationId,jdbcType=VARCHAR},
      </if>
    </set>
    where power_user_id = #{powerUserId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.entity.PersonPower" >
    update persion_power
    set organization_id = #{organizationId,jdbcType=VARCHAR}
    where power_user_id = #{powerUserId,jdbcType=BIGINT}
  </update>
</mapper>