<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dao.UserDutiesMapper" >
  <resultMap id="BaseResultMap" type="cn.entity.UserDuties" >
    <result column="locked" property="locked" jdbcType="BIT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="organization_id" property="organizationId" jdbcType="VARCHAR" />
    <result column="duties_id" property="dutiesId" jdbcType="TINYINT" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="entry_time" property="entryTime" jdbcType="TIMESTAMP" />
    <result column="dimission_time" property="dimissionTime" jdbcType="TIMESTAMP" />
    <result column="omni" property="omni" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="technical_title" property="technicalTitle" jdbcType="VARCHAR" />
    <result column="record" property="record" jdbcType="VARCHAR" />
    <result column="main_buildings" property="mainBuildings" jdbcType="VARCHAR" />
    <result column="chief_id" property="chiefId" jdbcType="BIGINT" />
    <result column="connecttion_way" property="connecttionWay" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="working_time" property="workingTime" jdbcType="TIME" />
    <result column="closing_time" property="closingTime" jdbcType="TIME" />
    <result column="user_persion" property="userPersion" jdbcType="BIGINT" />
    <result column="user_house_pre" property="userHousePre" jdbcType="VARCHAR"/>
  </resultMap>
  <select id="selectByName" resultType="cn.entity.UserDuties">
    SELECT
        locked, user_id, user_name,
        organization_id, duties_id, state,
        entry_time, dimission_time, omni,
        source, technical_title, record,
        main_buildings, chief_id, connecttion_way,
        password, working_time, closing_time,
        user_persion, user_house_pre
      FROM user_duties
      WHERE user_name=#{userName}
  </select>
  <select id="selectByOrganizationName" resultType="cn.entity.UserDuties">
    SELECT
      locked, user_id, user_name,
      organization_id, duties_id, state,
      entry_time, dimission_time, omni,
      source, technical_title, record,
      main_buildings, chief_id, connecttion_way,
      password, working_time, closing_time,
      user_persion, user_house_pre
    FROM user_duties
    WHERE organization_id=(
      SELECT organization_id
      FROM organization_structure
      WHERE organization_name=#{organizationName}
    )
  </select>
  <select id="selectByUserId" resultType="cn.entity.UserDuties">
    SELECT
      locked, user_id, user_name,
      organization_id, duties_id, state,
      entry_time, dimission_time, omni,
      source, technical_title, record,
      main_buildings, chief_id, connecttion_way,
      password, working_time, closing_time,
      user_persion, user_house_pre
    FROM user_duties
    WHERE user_id = #{userId}
  </select>
  <select id="selectAll" resultType="cn.entity.UserDuties">
    SELECT
      locked, user_id, user_name,
      organization_id, duties_id, state,
      entry_time, dimission_time, omni,
      source, technical_title, record,
      main_buildings, chief_id, connecttion_way,
      password, working_time, closing_time,
      user_persion, user_house_pre
    FROM user_duties
  </select>
  <insert id="insert" parameterType="cn.entity.UserDuties" >
    insert into user_duties (locked, user_id, user_name, 
      organization_id, duties_id, state, 
      entry_time, dimission_time, omni, 
      source, technical_title, record, 
      main_buildings, chief_id, connecttion_way, 
      password, working_time, closing_time, 
      user_persion, user_house_pre)
    values (#{locked,jdbcType=BIT}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{organizationId,jdbcType=VARCHAR}, #{dutiesId,jdbcType=TINYINT}, #{state,jdbcType=VARCHAR}, 
      #{entryTime,jdbcType=TIMESTAMP}, #{dimissionTime,jdbcType=TIMESTAMP}, #{omni,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{technicalTitle,jdbcType=VARCHAR}, #{record,jdbcType=VARCHAR}, 
      #{mainBuildings,jdbcType=VARCHAR}, #{chiefId,jdbcType=BIGINT}, #{connecttionWay,jdbcType=INTEGER}, 
      #{password,jdbcType=VARCHAR}, #{workingTime,jdbcType=TIME}, #{closingTime,jdbcType=TIME}, 
      #{userPersion,jdbcType=BIGINT},#{userHousePre,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.entity.UserDuties" >
    insert into user_duties
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="locked != null" >
        locked,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="organizationId != null" >
        organization_id,
      </if>
      <if test="dutiesId != null" >
        duties_id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="entryTime != null" >
        entry_time,
      </if>
      <if test="dimissionTime != null" >
        dimission_time,
      </if>
      <if test="omni != null" >
        omni,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="technicalTitle != null" >
        technical_title,
      </if>
      <if test="record != null" >
        record,
      </if>
      <if test="mainBuildings != null" >
        main_buildings,
      </if>
      <if test="chiefId != null" >
        chief_id,
      </if>
      <if test="connecttionWay != null" >
        connecttion_way,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="workingTime != null" >
        working_time,
      </if>
      <if test="closingTime != null" >
        closing_time,
      </if>
      <if test="userPersion != null" >
        user_persion,
      </if>
      <if test="userHousePre !=null">
        user_house_pre,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="locked != null" >
        #{locked,jdbcType=BIT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="organizationId != null" >
        #{organizationId,jdbcType=VARCHAR},
      </if>
      <if test="dutiesId != null" >
        #{dutiesId,jdbcType=TINYINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null" >
        #{entryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dimissionTime != null" >
        #{dimissionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="omni != null" >
        #{omni,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="technicalTitle != null" >
        #{technicalTitle,jdbcType=VARCHAR},
      </if>
      <if test="record != null" >
        #{record,jdbcType=VARCHAR},
      </if>
      <if test="mainBuildings != null" >
        #{mainBuildings,jdbcType=VARCHAR},
      </if>
      <if test="chiefId != null" >
        #{chiefId,jdbcType=BIGINT},
      </if>
      <if test="connecttionWay != null" >
        #{connecttionWay,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="workingTime != null" >
        #{workingTime,jdbcType=TIME},
      </if>
      <if test="closingTime != null" >
        #{closingTime,jdbcType=TIME},
      </if>
      <if test="userPersion != null" >
        #{userPersion,jdbcType=BIGINT},
      </if>
      <if test="userHousePre !=null">
        user_house_pre,
      </if>
    </trim>
  </insert>
</mapper>