<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.entity.User" >
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="TINYINT" />
    <result column="locked" property="locked" jdbcType="BIT" />
  </resultMap>
  <select id="selectAll" resultType="cn.entity.User">
    SELECT user_id,user_name,password,role_id,locked
    FROM v_user
  </select>
  <select id="selectByUserName" resultType="cn.entity.User">
    SELECT user_id,user_name,password,role_id,locked
    FROM v_user
    WHERE user_name=#{userName}
  </select>
  <select id="selectByPrimaryKey" resultType="cn.entity.User">
    SELECT v_user.user_id,v_user.user_name,v_user.password,v_user.locked,v_user.role_id
    FROM v_user
    WHERE user_id=#{userId}
  </select>

  <select id="selectRoleByUserName" resultType="String">
    SELECT epd.duties_name
    FROM enterprise_duties epd,user_duties userd
    WHERE userd.user_name=#{userName} and userd.duties_id=epd.enterprise_duties_id;
  </select>

  <select id="selectPermissionsByUserName" resultType="String">
    select p.permission_char
    from t_permission p
    where permission_id
          in (select
                permission_id
              from t_user_permission tup,v_user vu
              where tup.user_id=vu.user_id and vu.user_name=#{userName}
          );
  </select>
</mapper>