			/** {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			
			img {
				border: 0 none;
			}
			*/
			.box {
				width: 960px;
				background-color: #f5f5f5;
			}
			/*主导航菜单*/
			
			#nav-menu {
				height: 40px;
				background: #f5f5f5;
				width: 960px;
				
				/*margin: 0 auto;*/
			}
			
			#nav-menu .container {
				position: relative;
				overflow: visible;
				z-index: 1;
			}
			
			#nav-menu .menu {
				/*padding: 0 0 0 14px;*/
			}
			
			#nav-menu .menu li {
				position: relative;
				float: left;
				
				display: inline;
				font-size: 1px;
			}
			
			/*#nav-menu .menu li h3 {
				font-weight: normal;
				display: inline-block;
				float: left;
			}*/
			
			#nav-menu .menu li a.xialaguang {
				margin-top: 10px;
				display: inline-block;
				color: black;
				height: 30px;
				text-decoration: none;
				font-size: 14px;
				width: 100px;
				text-align: center;
				
			}
			
			#nav-menu .menu li a.selected,
			#nav-menu .menu li a.navhover,
			#nav-menu .menu li a.xialaguang:hover {
				color: #1a529c;
				
			}
			
			#nav-menu .menu li a.navhover,
			#nav-menu .menu li a.xialaguang:hover {
				background-color: #FFF;
			}
			
			#nav-menu .menu li a.xialaguang span {
				height: 30px;
				line-height: 25px;
				display: inline-block;
				font-weight: bold;
				font-family: "微软雅黑";
				font-size: 13px;
				color: grey;				
			}
			
			#nav-menu .menu li a.selected span,
			#nav-menu .menu li a.navhover span,
			#nav-menu .menu li a.xialaguang:hover span {
				cursor: pointer;
			}
			
			#nav-menu .menu li a.navhover span,
			#nav-menu .menu li a.xialaguang:hover span {
				width: 100px;
				
			}
			
			#nav-menu .menu ul.children {
				display: none;
				position: absolute;
				top: 40px;
				left: -28px;
				width: 100px;
				background: #FFF;
				border: 2px solid #1a529c;
				border-top: 0;
				line-height: normal;
			}
			
			#nav-menu .menu ul.children li {
				width: 100px;
				padding: 0px;
				display: inline-block;
				font-size: 12px;
				border-top: 1px solid #ccc;
			}
			
			#nav-menu .menu ul.children li h3 {
				display: block;
				width: 100%;
			}
			
			#nav-menu .menu ul.children li a {
				width: 100%;
				height: 16px;
				line-height: 16px;
				overflow: hidden;
				padding: 3px 0;
				display: block;
				color: #1a529c;
				text-align: center;
				text-decoration: none;
				font-size: 12px;
				
			}
			
			#nav-menu .menu ul.children li a:hover {
				background-color: #eee;
				text-decoration: none;
			}