ul,ol,li,dl,dt,dd { margin:0; padding:0; list-style-type:none;}
  h1,h2,h3,form,input,iframe,span { margin:0; padding:0;} 
 a { color:#7FB0C8;}
 a:link {color: #7FB0C8; TEXT-DECORATION: none;}
 a:visited {color: #7FB0C8; TEXT-DECORATION: none;}
 a:hover {color: #fff; TEXT-DECORATION: none;}
 .white { color:#fff;}
.white a:link {color: #fff; TEXT-DECORATION: none;}
 .white a:visited {color: #fff; TEXT-DECORATION: none;}
 .white a:hover {color: #73E1F5; TEXT-DECORATION: none;}
 /* 树形菜单开始 */
 .close { float:right; clear:right; font-size:12px; font-weight:normal; cursor:pointer; padding-right:10px;}
 .title { font-size:14px; color:#fff; margin-bottom:10px; padding-left:5px; width:290px;}
 .menu { width:290px; height:330px; margin-bottom:10px;}
 
 .l1 { background:#000; font-size:13px; padding:5px 0 0 30px; height:20px; margin-bottom:5px; cursor:pointer;}
 .slist { margin:0 0 5px 0; display:none;}
 .l2 { padding:0 0 0 35px; font-size:13px;}
 .l2 a { padding:6px 0 0 5px; width:230px; height:21px; display:block;} 
 .currentl2 a,.l2 a:hover { background:#1E5A82; color:#fff;}
 .sslist { background:#156890; width:235px; overflow:hidden; margin:0 0 5px 35px; display:none;}
 .l3 a { padding:6px 0 0 5px; width:230px; height:20px; display:block;} 
 .currentl3 a,.l3 a:hover { color:#fff; font-weight:bold;}